config.yml
*.un~
*.swp
.DS_Store
db.sqlite3

# Byte-compiled / optimized / DLL files 
__pycache__/ 
*.py[cod]
*.egg

pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# C extensions
*.so

# Misc
help.py

staticfiles
