config.yml
*.un~
*.swp
.DS_Store
db.sqlite3
twitter.py

#ignore sublime project
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files 
__pycache__/ 
*.py[cod]
*.egg
*.pyc

# Distribution / packaging
.Python
env/
bin/
include/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# C extensions
*.so

# Misc
help.py

staticfiles
