{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<p>Information about query </p>
<div class="row">
    <h2>Histogram</h2>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#histo">Show/Hide</button>
    <div id="histo" class="collapse in">
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
    </div>
</div>
<div class="row">
    <h2>Pie Chart</h2>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#pie">Show/Hide</button>
    <div id="pie" class="collapse in">
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </div>
</div>
<div class="row">
    <h2>Statistics</h2>
        <h3>Average:</h3>
            <p>{{ average }}</p>
        <h3>Median:</h3>
            <p>{{ median }}</p>
        <h3>Mode:</h3>
            <p>{{ mode }}</p>
        <h3>Min:</h3>
            <p>{{ min }}  </p>
            <a class="btn btn-default" href="https://twitter.com/statuses/{{ min_tweet_id }}" role="button" target="_blank">View Tweet</a>
        <h3>Max:</h3>
            <p>{{ max }}  </p>
            <a class="btn btn-default" href="https://twitter.com/statuses/{{ max_tweet_id }}" role="button" target="_blank">View Tweet</a>
</div>
<div class="row">
    <h2>Tables</h2>
    <table id="table" data-sort-name="sentiment" data-sort-order="desc" data-pagination="true" data-height="300">
        <thead>
            <tr>
                <th data-field="time" data-sortable="true">Time</th>
                <th data-field="screen_name" data-sortable="true">User</th>
                <th data-field="sentiment" data-sortable="true">Sentiment</th>
                <th data-field="text" data-sortable="true">Tweet</th>
                <th data-field="link" data-sortable="false">Link</th>
            </tr>
        </thead>
    </table>
</div>

    
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        //Google Visualization
        google.load("visualization", "1", {packages:["corechart"]});

        //Histogram
        google.setOnLoadCallback(drawHistogram);
        function drawHistogram() {
            var data = google.visualization.arrayToDataTable({{ histogram_data|safe }});

            var options = {
                legend: { position: 'none' },
                backgroundColor: 'transparent',
                hAxis: {title: 'Sentiment Value',
                        titleTextStyle: { 
                            // color: '#fff', 
                            bold: true, 
                            italic: false
                        },
                        // textStyle: { 
                        //     color: '#fff' 
                        // },
                        // gridlines: { 
                        //     color: '#fff' 
                        // }
                        // minValue: -1,
                        // maxValue: 1
                        },
                vAxis: {title: 'Count',
                        titleTextStyle: { 
                            // color: '#fff', 
                            bold: true, 
                            italic: false
                        },
                        // textStyle: { 
                        //     color: '#fff' 
                        // },
                        minValue: 0
                        }
            };

            var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        //Pie Chart
        google.setOnLoadCallback(drawPieChart);
        function drawPieChart() {
            var data = google.visualization.arrayToDataTable({{ pie_data| safe }});

            var options = {
                // legend: {
                //     textStyle: { color: '#fff'}
                // },
                backgroundColor: 'transparent',
                slices: {
                    0: { color: '#FFCC00' },
                    1: { color: 'green' },
                    2: { color: 'red'} 
                },
                chartArea: {
                    backgroundColor: 'black',
                    left: 0
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
      }

        //Bootstrap-Table
        var data = {{ tweets|safe }};
        for (var i = 0; i < data.length; i++){
            data[i]["time"] = new Date(data[i]["time"])
            data[i]["screen_name"] = '<a href="https://twitter.com/' + data[i]["screen_name"] + '" role="button" target="_blank">' + data[i]["screen_name"] + '</a>';
            data[i]["link"] = '<a href="https://twitter.com/statuses/' + data[i]["tweet_id"] + '" role="button" target="_blank">View</a>';
        }
        $(function () {
            $('#table').bootstrapTable({
                data: data
            });
        });
    </script>
{% endblock %}

